body{

    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#title{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    text-align: center;
    padding-left: 4rem;
 }

 #navbarNav{
     margin-left: auto;
     padding-left: 32rem;
 }

.big-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 3.2rem;
    line-height: 1.5;
    text-align: left;
}

.big-heading-2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: left;
    padding-top: 3%;
}


/* Container */
.container-fluid{
    font-size: 1.3rem;
    padding: 0%  0%  ;
}


/* NAVBAR */
.navbar{
    padding: 10 0 7rem;
}


.navbar-brand{
    font-weight: bold;
}

.navbar-nav{
    align-items: center;
}



/* CONTENT */
.content{
    text-align: center;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
    font-size: 1.5rem;
    color: #1a1c20;
    border-radius: 14%;
}
